<div ng-app="coffeeApp">
	<div ng-controller="homeController" class="container">
		<h1>Order Form</h1>
		<form>
			<div class="form-group">
				<label for="office">Office</label>
				<select ng-model="selectedOffice" class="form-control" ng-options="x.OfficeName for x in offices">
					<option value="">-- Select Office --</option>
				</select>
				<h1>{{selectedOffice}}</h1>
			</div>
			<div class="form-group">
				<label for="coffee">Coffee</label>
				<select ng-model="selectedCoffee" class="form-control" ng-options="x.DrinkName for x in coffeeMenu">
					<option value="">-- Select Coffee --</option>
				</select>
				<h1>{{selectedCoffee}}</h1>
			</div>
			<div class="form-group">
				<label for="customerName">Name</label>
				<input type="text" class="form-control" id="customerName" />
			</div>

			<button type="submit" class="btn btn-success">Submit</button>
		</form>
	</div>
</div>