<div ng-app="coffeeApp">
	<h1>Drink Distribution</h1>
	<div ng-controller="drinkDistributionController" class="container">
		<section>
			<div class="row">
				<div class="col-md-7">
					<canvas id="bar" class="chart chart-bar"
							chart-data="data" chart-labels="labels" chart-series="series" chart-options="options"></canvas>
				</div>
			</div>
		</section>
	</div>
</div>